<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
     <link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
    <script src="/support/jquery-2.2.3.js"></script>
    <script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="/support/meterialTable.js"></script>
</head>
<body>
    <h1 class="h1">点击下载</h1>
    <div id="filterinfo">请选择组号</div>
    <table id="meterialTable"></table>
</body>
</html>