
html, body {
	height: 100%;
}

body {
	background-color: #111;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

a {
	color: #ffffff;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.element {
	width: 120px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
    cursor: pointer;
}

	.element .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
	}

	.element .symbol {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
	}

	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
	}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}

/*Bootstrap*/

.panel {
  position: absolute;
  z-index: 10;
  width: 250px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  background-color: rgba(255,255,255,0.1);
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #c0daea;
  background-color: #d9edf7;
  border-color: #bce8f1;
  background-color:rgba(5,117,174, 0.7);
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
}

.btn {
  padding: 6px 12px;
  margin-bottom:0;
  font-size: 20px;
  line-height: 1.42857143;
  text-align: center;
  /*border-radius: 4px;*/
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  display: inline-block;   
}


.selement {
        width: 70px;
        height: 90px;
        box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
        border: 1px solid rgba(127,255,255,0.25);
        display: inline-block;
    }

.selement:hover{
  cursor: pointer;
}

.selement .ssymbol {
   position: relative;
   top: 20px;
   width: 100%;
   font-size: 40px;
   text-align: center;
   color: rgba(255,255,255,0.75);
   font-weight: bold;

   -webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
   -moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
   -o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
   -ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
   filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
}


#submitselected{
    width: 100%;
    left: 40px;
    text-align: center; 
}

.panel-title{
  font-family: "微软雅黑";
  font-size: 20px;
}

.opcpanel {
/*max-width: 300px;*/
position: absolute;
left: 251px;
padding: 20px 29px 29px 29px;
margin:auto;
background-color:rgba(0,0,0,0.8);
color:#fff;
border: 1px solid #e5e5e5;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
z-index: 100000;
display: none;
overflow: auto;
overflow: yes;
height: 80%;
}

::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-track{background-color:#bee1eb;}
::-webkit-scrollbar-thumb{background-color:#00aff0;}
::-webkit-scrollbar-thumb:hover {background-color:#9c3}
::-webkit-scrollbar-thumb:active {background-color:#00aff0}
